[submodule "CmHazel/third_party/spdlog"]
	path = CmHazel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CmHazel/third_party/glfw"]
	path = CmHazel/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "CmHazel/third_party/imgui"]
	path = CmHazel/third_party/imgui
	url = https://github.com/ocornut/imgui
