[submodule "CmHazel/third_party/spdlog"]
	path = CmHazel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CmHazel/third_party/glfw"]
	path = CmHazel/third_party/glfw
	url = https://github.com/glfw/glfw
