[submodule "CmHazel/third_party/spdlog"]
	path = CmHazel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CmHazel/third_party/glfw"]
	path = CmHazel/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "CmHazel/third_party/imgui"]
	path = CmHazel/third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "CmHazel/third_party/glm"]
	path = CmHazel/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "CmHazel/third_party/yaml-cpp"]
	path = CmHazel/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
